@font-face {
  font-family: 'iransans';
  src:  url('../utils/fonts/FontsFree-Net-ir_sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  direction: rtl;
}

body {
  font-size: 1.4rem;
  font-family: 'iransans';
}